#contact {
    padding: 0 20px;
    height: 100%;
    padding-bottom: 85px;

    .header-box {
        text-align: center;

        .title {
            color: rgb(22, 20, 20);
            margin-bottom: 30px;
        }
    }

    .form-container {
        width: 550px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.801);
        padding: 20px 40px;
        border-radius: 10px;

        .contact-form {
            margin: 0 auto;

            .row {
                display: grid;
                grid-template-columns: 1fr 2fr;
                margin: 20px 0;
    
                .labels {
                    display: inline-block;
                    
                    label {
                        vertical-align: middle;
                    }
                }
                
                .fields {
                    display: inline-block;
                    
                    input {
                        width: 97%;
                        padding: 7px;
                    }

                    select {
                        padding: 7px;
                    }

                    textarea {
                        width: 97%;
                        height: 80px;
                        padding: 7px;
                    }

                    input[type=submit] {
                        width: 100px;
                        text-decoration: none;
                        border: 2px solid rgb(151, 151, 145);
                        border-radius: 200px;
                        width: 140px;
                        display: block;
                        padding: 10px 20px;
                        text-align: center;
                        background-color: rgb(247, 245, 243);
                        color: rgb(90, 87, 87);
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
