#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../img/home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;

    nav {
        .logo {
            width: 150px;
            display: inline-block;
            padding: 20px;
        }

        ul {
            float: right;
            padding-right: 40px;
            padding-top: 10px;
        }

        li {
            list-style: none;
            display: inline-block;
            padding: 10px;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    .text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        color: rgb(235, 238, 217);
        width: 50%;

        h2 {
            font-size: 3rem;
            margin: 0;
            padding: 10px 0;
            font-weight: 700;
        }

        h4 {
            font-size: 1.5rem;
            margin: 0;
            text-transform: capitalize;
            font-weight: 700;
        }
    }

}

